# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  stats,
  robustbase,
  Hmisc
 )
importFrom("graphics", "grid", "lines", "points", "text")
 # importFrom("stats", "rnorm", "runif", "median", "quantile", "mad")
 